<?xml version="1.0"?>
<launch>
  <arg name="camera_path" default="/dev/video0"/>
  <arg name="image_topic" default="/usb_cam/image_raw"/>

  <node pkg="voicevox_ros" name="voicevox_ros_main" type="main.py"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="$(arg camera_path)" />
    <param name="image_width" value="640" />
	<param name="image_height" value="480" />
	<param name="pixel_format" value="yuyv" />
	<param name="color_format" value="yuv422p" />
  </node>
  <node pkg="yolov8_ros" name="yolov8_ros_detect" type="detect.py" args="image:=$(arg image_topic)" output="screen"/>
</launch>
